@font-face {
    font-family: "AppleSDGothicNeoB";
    src: url('assets/AppleSDGothicNeoL.ttf') format('truetype');

    font-family: "AppleSDGothicNeoM";
    src: url('assets/AppleSDGothicNeoM.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    /* no scrollable */
    overflow: hidden;
}

.project1 {
    width: 50px;
}

.node {
    position: absolute;
    font-family: 'AppleSDGothicNeoL';
    color: black;
    cursor: pointer;
    transform: translate(-50%, -50%);
    text-align: center;
}

.node:hover .hole{
    /* background: blue; */
    box-shadow: 0px 0px 10px blue;
}

.order {
    font-weight: bold;
}

.hole {
    width: 15px;
    height: 15px;
    background: lightgray;
    border-radius: 50%;
}


.project {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    position: absolute;
    top: 100px;
    left: 100px;
    cursor: pointer;
    /* underline */
    text-decoration: underline;
    /* underline distance */
    text-underline-offset: 1px;
}

.project:hover {
    color: blue;
    text-shadow: 0px 0px 15px blue;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

a:active {
    color: blue;
}

.line {
    position: absolute;
    /* height: 1px;
    background-color: lightgray; */
    margin-top: -20px;
    z-index: -1;
    border-bottom: 1px dashed lightgray;

}