* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
	text-align: center;
}

body {
		color: lightpink;
		Font-family: arial;
		background-color: #fd6bff;
		font-family: "Times New Roman", Times, serif;
		}


.cursive {
	font-family: cursive;
}

/* adjusting fonts */


p, li {
	font-size:  22px;
	line-height: 30px;
}

/* adjusting spacing */

#left-column {
	padding: 100px;
}

h1, p {
	margin-bottom:  20px;
}

ul, ol {
	margin-left: 0px;
	list-style-type: none;
}

.user_image{
	display: flex;
	justify-content: center;
   }

img {
	height:  800px;
	position: absolute;
	z-index: -5;
}

a{
	color:blue;
}

a:hover {
		background: blue;
		color: white;
}

button{
	font-size: 1rem;
	font-weight: bold;
	border: 2px solid var(--accent-color);
	background: transparent;
	color: blue;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border-radius: 5px;
}

button:hover{
	background: lightpink;
	color: white;
	cursor: pointer;
}


/* darkmode version */

body.darkmode {
	background: black;
	color: white;
}

body.darkmode img{
	content: url(alien02.png);
}

/* media query */
#id {
	display: none;
}
@media only screen and (max-width: 812px) { 
	body {
		background: beige;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
	body {
		background: peru;
	}
}